body {
    font-family: 'Titillium Web', sans-serif;
}

header {
    text-align: center;
}

#search-form-container {
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.search-form {
    padding: 5px;
}

.search-form input, select {
    font-size: 1em;
}

li {
    list-style-image: url(./assets/leaf-icon.png);
    font-size: 1.2em;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}